aside.sidebar {
  section {
    font-size: .95rem;
    background: #fafafa;
    list-style: none;
    margin: 0 0 20px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.about {
      text-align: center;
      background: none;
      div.avatar {
        img {
          -webkit-border-radius: 500px;
          -moz-border-radius: 500px;
          border-radius: 500px;
            width: auto\9;
          height: auto;
          max-width: 100%;
          vertical-align: middle;
          border: 0;
          -ms-interpolation-mode: bicubic;
        }
      }
    }
    
    > ul {
      margin: 5px 20px 20px 20px;
    }

    a {
      color: #222;
    }

    h1 {
      font-size: 25px;
      padding: 15px 30px 10px 30px;
      background: #008CBA;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; 
      border-bottom: none;
      color: #fff;
    }
  }
  ul {
    margin-bottom: 0.5em;
    margin-left: 0;
  }
  li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
  }
}
